<div>{{title | titlecase }}</div>
<ng-container *ngIf="basket.length > 0; else elseBlock">
  <a href="javascript: void(0);"
     (click)="_clear()">
    Clear
  </a>
  <ul *ngFor="let book of basket; let i = index">
    <li>
      <span>{{book?.title}}</span>
      <button (click)="_remove(i)">x</button>
    </li>
  </ul>
  Price: {{ totalPrice | currency:"EUR":"symbol"}}
</ng-container>
<ng-template #elseBlock>
  <div>Your basket is empty!</div>
</ng-template>
