<ng-container *ngIf="book">
  <div class="hp-book__title">{{book?.title}}</div>
  <img class="hp-book__cover" [src]="book?.cover">
  <div class="hp-book__price">{{book?.price | currency:"EUR":"symbol"}}</div>
  <ng-container *ngFor="let synopsisPart of book?.synopsis">
    <p class="hp-book__synopsis">{{synopsisPart}}</p>
  </ng-container>
</ng-container>

