.hp-book {
  display: block;
  cursor: pointer;

  &__cover {
    max-width: 100%;
    height: auto;
  }

  &__synopsis {
    overflow: hidden;
    display: -webkit-box;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    -webkit-line-clamp: 3;
  }
}
