.hp-book {
  &__container {
    display: flex;
  }

  &__item {
    display: block;
    width: 190px;
    padding: 15px;
  }
}

.hp {
  &-search {
    &__bar {
      width: calc(100% - 50px);
    }

    &__button {
      &--clear {
        width: 46px;
      }
    }
  }
}


