<div>{{title | titlecase }}</div>
<div class="hp-search__container">
  <input type="text"
         [(ngModel)]="query"
         name="search"
         placeholder="Perform a search here"
         class="hp-search__bar">
  <button class="hp-search__button--clear"
          (click)="_clearFilter()">
    Clear
  </button>
</div>
<div class="hp-book__container">
  <ng-container *ngFor="let book of books | filter:query">
    <div class="hp-book__item">
      <hp-book [book]="book"
               (click)="_readMore(book)">
      </hp-book>
      <a href="javascript: void(0);"
         (click)="_addToBasket(book)">Add to basket</a>
    </div>
  </ng-container>
</div>
