{{title}}
<nav>
  <a routerLink="/home">Home</a> | <a routerLink="/basket">Basket</a>
  <span [ngPlural]="count">
    <ng-template ngPluralCase="=0"> (Empty)</ng-template>
    <ng-template ngPluralCase="=1"> ({{count}} book)</ng-template>
    <ng-template ngPluralCase="other"> ({{count}} books)</ng-template>
  </span>
</nav>
<router-outlet></router-outlet>
